$font-ubuntu: "Ubuntu", sans-serif;
$font-tittle:'Roboto Slab', serif;
$color-lila: #bf1784;
$color-morado-claro: #2f048c;
$color-morado-oscuro: #1b0273;
$color-amarillo: #f2ce1b;
$color-naranja: #f2bd1d;
$color-amarillo-claro: #fffb96;
